
select.store {
    width:170px;
    height: 36px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #222222;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dedede;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-family: 'Ubuntu';
    margin-right:60px 
  }

  .Table{
    font-family: 'Ubuntu';
  }

  .buttons{
    margin-bottom: 10px;
  }
  .butDays{
    float:right;
  }
  a{
    display: inline-block; 
    -ms-touch-action: manipulation; 
    cursor: pointer; 
    border: none; 
    line-height: 1.42857143; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    color: #06258b; 
    padding: 7px 30px; 
    font-size: 16px; 
    text-decoration: none; 
    font-family: 'Ubuntu';
    outline:none;
    font-weight:normal;
  }

 

  label{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding:5px 10px;
  }

  .ReactTable .-pagination .-pageJump input {
    width: 50px;}
